/* --------------------DISEÑO INDEX-------------------- */
.ferro{
	margin-top: 20px;
	/* background: red; 	*/
	/* border: 2px solid; */
}

.mas_contenido{
	margin-top: 20px;
	padding-top: 50px;
	/* font-size: 80px; */
	text-align: center;
	width: 100%;
	height: 900px;		
	/*border: 2px solid;*/
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/




/* CARRUSEL PRINCIPAL*/
	.carrusel_publicidad img{
	    border: 2px solid purp;
	     margin-left: 130px;
	}	

/* Media Queries CARRUSEL PRINCIPAL
********************** */
@media screen and (max-width: 960px) {
	.carrusel_publicidad img{
	    margin-left: 0px;
	}		
}
@media screen and (max-width: 768px) {
	.carrusel_publicidad img{
        margin-left: 0px;
	}			
}

/* Media Queries FERROCARIL
********************** */
@media screen and (max-width: 500px) {
  	#foo img{
  		width: 100px;
		height: 100px;
	}	 
} 

/* 
Media Queries CARRUSEL PRINCIPAL
**********************
@media screen and (max-width: 960px) {
	.carrusel_publicidad{
		height: 400px;
		border: 2px solid blue;				
	}	
	.carrusel_publicidad img{
	    border: 2px solid red;
	    margin-left: 0px;
	}		
}
@media screen and (max-width: 768px) {
	.carrusel_publicidad{
		height: 320px;		
	}
	.carrusel_publicidad img{
	    border: 2px solid yellow;
        margin-left: 0px;
	}			
}
@media screen and (max-width: 500px) {
 	.carrusel_publicidad {
	height: 150px;
	}	
}

Media Queries FERROCARIL
**********************
@media screen and (max-width: 500px) {
  	#foo img{
  		width: 100px;
		height: 100px;
	}	 
} */