.color_p{
	background : #ccc;	
}
.color_p2{
	background : red;	
}
.color_p3{
	background : blue;	
}

.navbar-inner{
	/*height: 80px;*/
	height: auto;
}

.header .container-fluid{
	padding-top: 20px;	
}

.contenido{
	padding-top: 100px; 
	padding-bottom: 30px; 
}

body{
	background:#F2F2F2;
}
