.color_p{
	background : #ccc;	
}
.color_p2{
	background : red;	
}
.color_p3{
	background : blue;	
}

.navbar-inner{
	/*height: 80px;*/
	height: auto;
}

.header .container-fluid{
	padding-top: 20px;	
}

.contenido{
	padding-top: 80px; 
	padding-bottom: 30px; 
}

body{
	background:#F2F2F2;
}

.span1{
	border: 1px solid;
}

.span2{
	border: 1px solid;
}

.span3{
	border: 1px solid;
}

.span4{
	border: 1px solid;
}

.span12{
	border: 1px solid;
}
